In [1]:
import pandas as pd

### Welcome to the Apply Challenge

In [3]:
link = 'https://raw.githubusercontent.com/chriszapp/datasets/main/books.csv'
books = pd.read_csv(link, nrows = 13)
books.head()

,bookID,title,authors,average_rating,isbn,isbn13,language_code,num_pages,ratings_count,text_reviews_count,publication_date,publisher
0,1,Harry Potter and the Half-Blood Prince (Harry ...,J.K. Rowling/Mary GrandPré,4.57,0439785960,9780439785969,eng,652,2095690,27591,9/16/2006,Scholastic Inc.
1,2,Harry Potter and the Order of the Phoenix (Har...,J.K. Rowling/Mary GrandPré,4.49,0439358078,9780439358071,eng,870,2153167,29221,9/1/2004,Scholastic Inc.
2,4,Harry Potter and the Chamber of Secrets (Harry...,J.K. Rowling,4.42,0439554896,9780439554893,eng,352,6333,244,11/1/2003,Scholastic
3,5,Harry Potter and the Prisoner of Azkaban (Harr...,J.K. Rowling/Mary GrandPré,4.56,043965548X,9780439655484,eng,435,2339585,36325,5/1/2004,Scholastic Inc.
4,8,Harry Potter Boxed Set Books 1-5 (Harry Potte...,J.K. Rowling/Mary GrandPré,4.78,0439682584,9780439682589,eng,2690,41428,164,9/13/2004,Scholastic

In [ ]:
# Firstly, have a look at the dataset

In [18]:
# Mission 1: use apply to create a new column called 'reviews_opinion': if the ratings is between 4.5 and 5, the reviews_opinion is 'very good';
# if the rating is between 4 and 4.5, the reviews_opinion is 'good'; if the rating is between 3 and 4, the reviews_opinions will be 'neutral';
# if the rating is up to 3 the reviews_opinion is going to be 'bad'

# df['Discounted_Price'] = df.apply(lambda row: row.Cost -
#                                   (row.Cost * 0.1), axis = 1)

def rating_book(col):
    # La fonction prend en paramètre col car on aura par la suite besoin de l'utiliser avec apply afin qu'elle renvoie l'appréciation à la ligne associé
    if 4.5 < col["average_rating"] < 5: # On utilise if car besoin de tester si la valeur ciblé rentre dans un certain interval,
                                        # et on lui attribue ensuite une appréciation si elle est bien incluse dans celui-ci
        return "very good"
    if 4 < col["average_rating"] < 4.5:
        return "good"
    if 3 < col["average_rating"] < 4:
        return "neutral"
    if col["average_rating"] < 3:
        return "bad"


books["review_opinion"] = books.apply(rating_book, axis=1)
# 

books["review_opinion"]
# Add your code here

0     very good
1          good
2          good
3     very good
4     very good
5       neutral
6     very good
7          good
8          good
9          good
10         good
11         good
12         good
Name: review_opinion, dtype: object

In [19]:
# Mission 2: using apply with a function, create a column with the number of authors per book
# (note that in the column 'authors', each name of the author is divided with the character '/')


books["nb_authors"] = books["authors"].apply(lambda x: len(x.split('/')))

#check split 

# Add your code here

In [25]:
# Mission 3: rewrite the same task as Mission 2 using the lamdba function

# Add your code here

books['comment_ratio'] = (books["text_reviews_count"] / books['ratings_count']) * 100
books.head(1)

,bookID,title,authors,average_rating,isbn,isbn13,language_code,num_pages,ratings_count,text_reviews_count,publication_date,publisher,review_opinion,nb_authors,comment_rarion
0,1,Harry Potter and the Half-Blood Prince (Harry ...,J.K. Rowling/Mary GrandPré,4.57,0439785960,9780439785969,eng,652,2095690,27591,9/16/2006,Scholastic Inc.,very good,2,1.316559

In [26]:
# Mission 4: create a column 'comment_ration'.
# Use the columns 'ratings_count' and 'text_reviews_count' to calculate the percentage of how many text review per reviews are per book:
# percentage = text / reviews * 100
# Use the mathematical operations between columns
books['comment_ratio'] = (books["text_reviews_count"] / books['ratings_count']) * 100
books.head(1)
# Add your code here

,bookID,title,authors,average_rating,isbn,isbn13,language_code,num_pages,ratings_count,text_reviews_count,publication_date,publisher,review_opinion,nb_authors,comment_rarion,comment_ratio
0,1,Harry Potter and the Half-Blood Prince (Harry ...,J.K. Rowling/Mary GrandPré,4.57,0439785960,9780439785969,eng,652,2095690,27591,9/16/2006,Scholastic Inc.,very good,2,1.316559,1.316559

In [ ]:
# Mission 5: obtain the same result of Mission 4 using apply with a function.
# Try both methods to apply to the whole dataset and apply to selected columns

def comment_ratio(df):
    return(df["text_reviews_count"] / books['ratings_count']) * 100

In [ ]:
# Mission 6: obtain the same result of Mission 5 using apply lambda
# Try both methods to apply to the whole dataset and apply to selected columns

# Add your code here

books['comment_ratio'] = books\
    .apply(lambda df: (df))

# books.apply(lambda x: x[''])

In [29]:
# Mission 7: extract the year from the publication_date column. How many years of publications are recorded in this dataset? Which are them?


books.apply(lambda x: x['publication_date'].split('/')[-1], axis=1).unique()

# books['publication_year'] = books\
#     .apply(lambda x: x['publication_date'].split('/')[-1], axis=1).unique()

array(['2006', '2004', '2003', '2005', '2002', '1996'], dtype=object)